<p id="notice"><%= notice %></p>


<h1>Задания</h1>

<table class="table">
  <thead>
    <tr>
      <th>Заголовок </th>
      <th>Описание</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody class = "jumbotron">
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td>
          <%= task.content %>
          <hr>
          <%= task.user.fullname %> |
          <%= task.created_at %>
          <br>
          <%= render 'tasks/replies', task: task %>
        </td>
        
        <td><%= link_to 'Просмотр', task, class: "btn btn-sm btn-link" %></td>

        <% if task.user == current_user %>
          <td><%= link_to 'Редактировать', edit_task_path(task), class: "btn btn-sm btn-link" %></td>
          <td><%= link_to 'Удалить', task, method: :delete, data: { confirm: 'Удалить?' }, class: "btn btn-sm btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody> 
</table>
