<p id="notice"><%= notice %></p>

<p>
  <strong>Заголовок:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Описание:</strong> 
  <%= @task.content %>
  <br>
  <%= @task.user.fullname %> |
  <%= @task.created_at %>
  <br>
  <%= render 'tasks/replies', task: @task %>
  <%#= render 'tasks/reply_link', task: @task %>
</p>

<% if current_user %>
  <%= link_to 'Редактировать', edit_task_path(@task) %> |
  <%= link_to "Удалить", @task, method: :delete,
  data: { confirm: "Удалить?" } %> |
<% end %>
<%= link_to 'Назад', tasks_path %>
