<p id="notice"><%= notice %></p>

<p>
  <strong>Заголовок:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Описание:</strong> 
  <%= @task.content %>
  <br>
  <%= @task.user.fullname %> |
  <%= @task.created_at %>
  <br>
  <strong><%= render 'tasks/replies', task: @task %></strong>
  <%= render 'tasks/reply_link', task: @task %>
</p>

<% if current_user %>
  <%= link_to 'Редактировать', edit_task_path(@task) %> |
  <%= link_to "Удалить", @task, method: :delete,
  data: { confirm: "Удалить?" } %> |
<% end %>
<%= link_to 'Назад', tasks_path %>

<hr>
  <h2>Комментарии</h2>
    <% @task.comments.each do |comment| %>
      <p>
        <strong> <%= comment.username %> </strong>
        <%= comment.body %>
      </p>
    <% end %>
<hr>

  <%= form_for([@task, @task.comments.build]) do |f|  %>

    <div class="form-inputs">
      <p>Пользователь</p>
      <br>
      <p> <%= f.text_field(:username) %> </p>
      <p>Комментарий</p>
      <br>
      <p> <%= f.text_area(:body) %> <p>
    </div>

    <div class="form-actions">
      <%= f.submit("Отправить") %>
    </div>
  <% end %>