<p id="notice"><%= notice %></p>

<div class="jumbotron">

  <strong> <%= @task.title %> </strong>
  
<div class="card">
    <%= @task.content %>
    <br>
    <%= @task.user.fullname %> |
    <%= @task.created_at %>
    <hr>
    <strong> <%= render 'tasks/replies', task: @task %> </strong>
    <% if current_user %>
    <%=render 'tasks/reply_link', task: @task %>
    <% end %>
</div>  

<br>

<% if @task.user == current_user %>
    <%= link_to 'Редактировать', edit_task_path(@task), class: "btn btn-link btn-sm" %>
    <%= link_to "Удалить", @task, method: :delete,
    data: { confirm: "Удалить?" }, class: "btn btn-link btn-sm" %> 
    <%= link_to 'Назад', tasks_path, class: "btn btn-link btn-sm" %>
<% end %>

</div>

  <%= render 'comments/comments', task: @task %>